.messages__wrapper {
  display: grid;
  grid-template-columns: 2fr 3fr;
}

.dialogs a {
  color: inherit;
  text-decoration: none;
}

.dialogs a:hover {
  background: rgb(185, 185, 209);
  
}
.dialogs__header {
  font-size: 20px;
  margin-bottom: 20px;
  
}

.chat {
  display: grid;
  grid-template-rows: 48px auto 60px;
}

.chat__title {
  font-size: 20px;
  margin-bottom: 20px;
  text-align: right;
  text-decoration: underline orange 5px;
  text-underline-offset: 10px;
}

.chat__wrapper {
  margin: 20px;
  background: linear-gradient( #1f3b37, #426560);
  background-image: linear-gradient(to left bottom, #236589, #004f7f, #003a72, #002363, #06094f);
}

.chat__footer {
  display: grid;
  grid-template-columns: 25px 1fr 55px;
  padding: 20px;
  border-color: rgb(89, 2, 47); 
}

.chat__input {
    width: 100%;
    padding: 10px;
    padding-left: 20px;
    background-color: rgb(2, 70, 120);
    border-radius: 5px;
    border: solid 3px rgb(50, 10, 120);
}

.chat__attach {
  display: flex;
  align-items: center;
}
.chat__btn-send {
    background-color: rgb(119, 118, 118);
    padding: 5px;
    box-shadow: 0px 0px 10px 15px rgba(62, 77, 88, 0) inset,inset 2px 1px #FFF7,inset -1px -3px #0006;
    border-radius: 5px;
    border: 3px outset #a4a195;
    background: #6d6c6c;
    /* background: linear-gradient(to top, #272525, #777373); */

}
.chat__btn-send:hover {
    opacity: 0.9;
    
}

.chat__btn-send:active {
  /* opacity: 0.9; */
  transform: translateY(1px);
  transition: transform ease-out 250ms;
  box-shadow: inset -2px -4px #0006, inset 2px 2px #FFF7;
}