.chat__message {
    padding: 5px;
    background-color: rgb(20, 20, 116);
    border: sold 2px rgba(20, 20, 116, 0.76) ;
    border-radius: 1px;
    box-shadow: 5px 5px 2px 1px rgba(0,0,0,0.75);
    width: 75%;
    margin-top: 10px;
    margin-left: 10px;
    padding-left: 10px;
    font-size: 14px;
}