.header {
  grid-area: header;
  /* display: grid;
    grid-template-columns: 1fr 1fr 1fr; */
  display: flex;
  justify-content: center;
  gap: 20px;
  background-color: var(--dark-blue);
  padding: 20px;
  padding-bottom: 0;
  width: 100%;
  /* margin-left: 20px;
    margin-right: 20px; */
  margin-top: 0;
}

.header div:nth-child(n) {
  padding-bottom: 10px;
  border-bottom: solid 5px var(--dark-blue);
}
.header div:nth-child(1) {
  padding-bottom: 10px;
  border-bottom: solid 5px var(--second-color);
}

.header__item {
  display: grid;
  grid-column: 1fr 1fr;
  justify-items: center;

}

/* .header__item span:nth-child(n) {
  padding-top: 5px;
} */

.item__number {
  padding-top: 10px;
}