.app-wrapper {
  display: grid;
  grid-template-areas:
    "header header header"
    "sidebar content nav"
    "footer footer footer";
  grid-template-rows: 3fr 20fr 10fr;
  grid-template-columns: 1fr 10fr 2fr;
  /* gap: 10px; */
  font-family: topaz, "Lucida Console", monospace, Monaco;
  color: #fff;
 
}

.app-wrapper__content {
    grid-area: content;
    background-color: #000038;
    color: #e5f9ff;
    padding: 20px;
}