.app-wrapper {
  display: grid;
  grid-template-areas:
    "header header header"
    "sidebar content nav"
    "footer footer footer";
  grid-template-rows: 150px 2fr 300px;
  grid-template-columns: 1fr 10fr 2fr;
  /* gap: 10px; */
  font-family: topaz, "Lucida Console", monospace, Monaco;
  color: #fff;
}

.app-wrapper__content {
  grid-area: content;
  background-color: #000038;
  color: #e5f9ff;
  padding: 20px;
  /* background: radial-gradient(circle, rgba(0,0,56,1) 21%, rgba(0,53,67,1) 77%); */
}

#root {
  --main-color: #000038;
  --second-color: #61dafb;
  --dark-blue: rgba(6, 1, 89, 0.9);
  --gray: rgba(236, 233, 233, 0.7);
  --input-color: rgb(2, 70, 120);
}
